.tips-card {
    width: 200px;
    margin-right: 10px;
  }
  
  .tips-image-placeholder {
    width: 100%;
    height: 100px;
    background-color: #ddd;
  }
  
  .tips-info {
    text-align: center;
  }
  
  .tips-title {
    font-size: 14px;
    margin: 5px 0;
  }
  